.caixa-maior1{
    padding-top: 30px;
    display: grid;
    padding-left: 33px;
    
}

.acordion1{
    width: 80%;
    margin-left: 80px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    color: #fff; 
    
}

.text{
    width: 80%;
    margin-left: 80px;
    font-family: var(--FontePadaro);
}
.button{
    background-color: var(--CordeFundo);
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: #fff; 
    font-weight: 400;
}
.text-button{
    font-family: var(--FontePadaro);
    font-size: 16px;
    font-weight: 400;
}
.caixa-resumo{
    width: 50%;
    margin-top: 15px;
}
.caixa-Selecao{
    display: flex;
    gap: 15px;
    
}
.caixa-inpt{
    margin-left: 23%;
    width: 100%;
}
.selecao-lojas{
    display: flex;
}
.seleciona-produtos{
    display: flex;
    
}
.selecionados-resumo{
    display: flex;
}
.caixa-resumo{
  margin-top: 15px;
  margin-left: 115px;
}
.select{
    width: 60%;
    margin-left: 50px;
}
.caixa-batao{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
