
.caixa-maior1{
    padding-top: 33px;
    /* padding-left: 33px; */
    display: grid;
    place-items: center;
    

}
.acord{
    width: 81.25rem;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */

}

.acordion1{
    width: 1050px;
    margin-left: 80px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    color: #fff; 
    display: flex;
    align-items: center;

  
}

.text{
    width: 80%;
    margin-left: 80px;
    font-family: var(--FontePadaro);
    
}

.button{
    background-color: var(--CordeFundo);
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: #fff; 
    font-weight: 400;
    
    
}



.text-button{
    font-family: var(--FontePadaro);
    font-size: 16px;
    font-weight: 400;
}

.caixa-resumo{
    width: 50%;
    margin-top: 15px;
}
.caixa-Selecao{
    display: flex;
    justify-content: flex-start;
  
    
}
.caixa-select{
    display: flex;
    
}

.inputPesquisa{
    width: 100%;
    margin-left: 9px;
}


.caixa-inpt{
    margin-left: 20%;
    width: 100%;
}
.selecao-lojas{
    display: flex;

}
.seleciona-produtos{
    display: flex;
    font-size: 15px;
    
}
.selecionados-resumo{
    display: flex;
    width: 100%;
   
    
}
.caixa-resumo{
  margin-top: 15px;
  margin-left: 115px;
}

.caixa-batao{
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;
    padding-top: 0.8rem;
}

