@import url('https://fonts.googleapis.com/css2? família= Open+Sans:wght@400;700 &family= Roboto:wght@400;500;700 & display=swap');

:root{
    --CordeFundo: #0161C0;
    --FontePadaro: 'Roboto', sans-serif;
    --CorDoBotao: #27BA49;
    --CorDaFonte: #808080;
    --CorDaBorda: #0161C0;
}