.select{
    display: flex;
       gap: 8px;
       
   }
   
   .selectoptions{
       border: 1px solid var(--CorDaBorda);
       width: 155px;
       padding: 10px;
       border-radius: 10px;
       margin-top: 10px;
       outline: none;
       color: var( --CorDaFonte);
       height: 40px;
     
       
   }
   
   .titulo-categoria{
       font-family: var(----FontePadaro);
       font-size: 16px;
       font-weight: 400;
       margin-top: 15px;
    
   }