.select{
    display: flex;
    gap: 10px;
}

.selectoptions{
    border: 1px solid var(--CorDaBorda);
    width: 197px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 0 0;
    outline: none;
    color: var( --CorDaFonte);
    height: 32px;
}
.titulo-categoria{
    font-family: var(----FontePadaro);
    font-size: 16px;
    font-weight: 400;
}
.categoria{
    margin-top: 5px;
}