  .caixa-maior{
    display: grid;
    padding-left: 33px;
  }
    .titulo2{
        margin-left: 90px;
        margin-top: 30px;
        font-size: 24px;
        font-family: var(--FontePadaro);
        font-weight: 400;
    
    }
    .caixainput{
        display: flex;
        justify-content: flex-start;
        
    }
    .caixainput1{
        display: flex;
        flex-direction:column;
        width: 14%;
        margin-left: 90px;
        font-family: var(--FontePadaro);
        
        
    }
    .caixainput2{
        display: flex;
        flex-direction:column;
        width: 14%;
        margin-left: 90px;
        font-family: 'Roboto', sans-serif;
    }
    .typeinput{
        padding: 5px;
        border-radius: 5px;
        color: #808080;
        border: 1px solid #0161C0;
        font-family: 'Roboto', sans-serif;
       
    } 
    input:focus{
        box-shadow: 0 0 0 0;
       
        outline: 0;
    }
    input{
        border: none;
    }