/* .input{
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid  #0161C0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    
} */
.tabela-maior{
    width: 50%;
   
    
}

.teste{
    text-align:center;
}
