
.main{
  width: 100%;
padding-top: 10px;

}

.container_selecionados{
  border: none;
  border-radius: 10px;
  background-color: #ffff;
  padding: 1rem;
  margin-left: 115px;
  width: 80%;
  max-height: 469px;
  min-height: 469px;
  min-width: 469px;
  overflow-y: auto;
  margin-left: 115px;
  
}

.title_selecionados{
  font-weight: 600;
  display: flex;
  justify-content: center;
  
}


.descricao_selecionados{
font-size: 15px;

}

.delete_button{
  font-weight: bold;
  font-size: 18px;
  padding-top: 1.2rem;
  display: grid;
  padding-left: 2rem;
  
}

.delete_button:hover{
color: rgb(240, 0, 0);
transition: 2ms;
}

.teste{
display: flex;
justify-content:space-between;
}